.weeklyProgressMain{
    padding: 0px 20px;
}
.weeklyTextArea{
    width:80%;
}
.weeklyProgressSubmitButton{
    height: 35px;
    width:80px;
    background-color:#08422D;
    border: none;
    color: white;
    transition:300ms all ease;
    border-radius: 5px;
    margin-top: 20px;
}
.weeklyProgressSubmitButton:hover{
    background-color: #D8A900;
    cursor: pointer;
}